{% extends 'base.html' %}
{% block  title %}Nuestros Proyectos{% endblock %}
{% load static %}
{% block content %}
    <section class="inner-banner2 clearfix">
      <div class="container clearfix">
        <h2>Nuestros Proyectos</h2>
      </div>
    </section>
    <section class="breadcumb-wrapper">
      <div class="container clearfix">
        <ul class="breadcumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><span>Projects</span></li>
        </ul>
      </div>
    </section>
    <!-- Project  Page-->
    <section class="core-projects sectpad">
      <div class="container clearfix">
        <h1>Our company experts</h1>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
      </div>
    </section>
    <!-- Projects-->

    <section class="project-post-area sectpad">
      <div class="container clearfix">
        <div class="project-post">
          <div class="row">
              {% for project in object_list %}
            <div class="col-sm-4 project-post-info">
              <div class="project-post-image image_hover"><img style="width: 370px; height: 281px" src="{{ project.image.url }}" alt="" class="zoom_img_effect">
                <div class="info-text">
                  <h4>{{ project.title }}</h4><a href="{% url 'project_detail' project.pk project.title|slugify %}">Ver Detalles</a>
                </div>
              </div>
            </div>
              {% endfor %}
          </div>
        </div>
          </div>
    </section>
{% endblock %}
