{% extends 'base.html' %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
     <section class="inner-banner2 clearfix">
      <div class="container clearfix">
        <h2>{{ object.title }}</h2>
      </div>
    </section>
    <section class="breadcumb-wrapper">
      <div class="container clearfix">
        <ul class="breadcumb">
          <li><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
          <li><a href="{% url 'projects' %}">Proyectos</a></li>
          <li><span>{{ project.title }}</span></li>
        </ul>
      </div>
    </section>
    <!-- Projects  Details-->
    <section class="core-projects sectpad">
      <div class="container clearfix">
        <div class="pro-det-img"><img src="{{ project.image.url }}" alt=""></div>
        <div class="pro-content clearfix">
          <h1>{{ project.title }}</h1>
          <h4>Descripción del proyecto</h4>
          <p>{{ object.description }}</p>
        </div>
        <div class="projects_hours clearfix">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <p>Inicio del Proyecto<span>{{ project.starting_date }}</span></p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                {% if not object.finish_date  %}
                    <p>Project End<span>En Progreso</span></p>
                {% endif %}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <p>Category{% for category in object.category.all %}<span>{{ category.title }}</span>{% endfor %}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
