{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
     <div id="minimal-bootstrap-carousel" data-ride="carousel" class="carousel slide carousel-fade shop-slider full_width ver_new_3_slider">
      <!-- Wrapper for slides-->
      <div role="listbox" class="carousel-inner">
        <div style="background-image: url({% static 'images/slider/6.jpg'%});" class="item active">
          <div class="carousel-caption">
            <div class="thm-container txt-left">
              <div class="box valign-top">
                <div class="content cnt_wdt1">
                  <h1 data-animation="animated fadeInUp" class="bnrfnt50">Brindamos Servicios de Calidad<br>en distintas areas</h1>
                  <p data-animation="animated fadeInDown" class="pln_he">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br>eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut <br>enim ad minim.</p><a data-animation="animated fadeInUp" href="{% url 'about' %}" class="view-all hvr-bounce-to-right slide_learn_btn btn">Nuestros servicios</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="background-image: url({% static 'images/slider/7.jpg' %});" class="item">
          <div class="carousel-caption">
            <div class="thm-container">
              <div class="box valign-top">
                <div class="content text-left pull-right">
                  <h1 data-animation="animated fadeInLeft" class="bnrfnt50">Contamos con el <br>mejor equipo</h1>
                  <p data-animation="animated fadeInRight" class="pln_he">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br>eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut <br>enim ad minim.</p><a data-animation="animated fadeInUp" href="{% url 'about' %}" class="view-all hvr-bounce-to-right slide_learn_btn btn">Nuestros servicios</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="background-image: url({% static 'images/slider/8.jpg' %});" class="item">
          <div class="carousel-caption">
            <div class="thm-container">
              <div class="box valign-bottom">
                <div class="content text-center">
                  <h1 data-animation="animated fadeInUp" class="bnrfnt50">Somos una compañia certificada</h1>
                  <p data-animation="animated fadeInDown" class="pln_he">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua. Ut enim ad minim.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Controls-->
         <a href="#minimal-bootstrap-carousel" role="button" data-slide="prev" class="left carousel-control"><i class="fa fa-angle-left"></i><span class="sr-only">Previous</span></a><a href="#minimal-bootstrap-carousel" role="button" data-slide="next" class="right carousel-control"><i class="fa fa-angle-right"></i><span class="sr-only">Next</span></a>
    </div>
    <!-- =========home banner end============-->
    <!-- LOOKING AN ADEQUATE-->
    <section class="looking-wrapper clearfix looking-wrapper3">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="indurial-solution-text2">
              <h2>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa nteu.</h2>
            </div>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12 text-right">
            <div class="req-button text-right"><a href="{% url 'contact' %}" class="submit">solicita presupuesto</a></div>
          </div>
        </div>
      </div>
    </section>
    <!-- LOOKING AN ADEQUATE-->
    <!-- We offer Different Services-->
    <section class="diff-offer-wrapper diff-offer-wrapper3">
      <div class="container">
        <div class="diff-offer">
          <h2>Tomamos una oportunidad para estar a la vanguardia del avance tecnologico y la innovación para llevar a cabo grandes proyectos. <a href="{% url 'solutions' %}">Revisa Nuestros Servicios</a></h2>
        </div>
        <div class="row">
            {% for solution in solutions %}
                {% if forloop.counter0 < 2 %}
                    <div class="col-md-4 col-sm-6 service-info">
            <div class="item">
              <div class="post-image view image_hover"><img src="{{ solution.image.url }}" alt="" class="img-responsive zoom_img_effect"></div>
              <h4><a href="{% url 'solutions_detail' solution.pk solution.title|slugify %}">{{ solution.title }}</a></h4>
              <p>{{ solution.description|slice:":55" }}...</p>
              <h6><a href="{% url 'solutions_detail' solution.pk solution.title|slugify %}">Saber más</a></h6>
            </div>
          </div>

                {% endif %}
            {% endfor %}
          <div class="col-md-4 col-sm-12 service-info service-info-right">
              {% for solution in solutions %}
                  {% if forloop.counter > 2 %}
                    <div class="item">
                    <div class="post-image view image_hover"><img src="{{ solution.image.url }}" alt="" class="img-responsive zoom_img_effect"></div>
                        <div class="post-content">
                            <h4> <a href="{% url 'solutions_detail' solution.pk solution.title|slugify %}">{{ solution.title }}</a></h4>
                            <p>{{ solution.description|slice:":22" }}<a href="{% url 'solutions_detail' solution.pk solution.title|slugify %}">Saber Más</a></p>
                        </div>
                  </div>
                  {% endif %}
              {% endfor %}
          </div>
        </div>
      </div>
    </section>
    <!-- We offer Different Services-->
    <section class="sec-pad about-us-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="about-us">
              <div class="sec-title">
                <h2>Sobre Nosotros</h2>
                <div class="decor-line"></div>
              </div><img src="{% static 'images/about/aboutus1.jpg' %}" alt="">
              <p>Tdolor sit amet, consectetur, adipis civelit sed quia non qui dolorem ipsum quia dolor sit amet, consectetur, adipis civelit. Red quia numquam.Tdolor sit amet, consectetur, adipis civelit sed quia non qui dolorem.</p>
              <div class="row">
                <div class="col-md-6">
                  <ul>
                    <li>Calidad laboral garantizada</li>
                    <li>1000 Empleados</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul>
                    <li>Crecimiento de nuestras empresas</li>
                    <li>Buena relación con el cliente</li>
                  </ul>
                </div>
              </div><a href="{% url 'about' %}" class="read-more btn">Saber más</a>
            </div>
          </div>
          <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="sec-title">
              <h2>Porque escogernos</h2>
              <div class="decor-line"></div>
            </div>
            <div class="faq-left-box">
              <div class="single-faq-left">
                <div class="icon-box"><img src="{% static 'images/about/icon7.png' %}" alt=""></div>
                <div class="text-box">
                  <h3>Tecnología avanzada</h3>
                  <p>Neque porro quisquam est, qui dolorem ipsum quira dolor sit amet, consectetur adipisci ui dolorem ipsum quira dolor sit amet, ui dolorem ipsum.</p>
                </div>
              </div>
              <div class="single-faq-left">
                <div class="icon-box"><img src="{% static 'images/about/icon8.png' %}" alt=""></div>
                <div class="text-box">
                  <h3>Entregas a tiempo</h3>
                  <p>Neque porro quisquam est, qui dolorem ipsum quira dolor sit amet, consectetur adipisci ui dolorem ipsum quira dolor sit amet, ui dolorem ipsum.</p>
                </div>
              </div>
              <div class="single-faq-left">
                <div class="icon-box"><img src="{% static 'images/about/icon9.png' %}" alt=""></div>
                <div class="text-box">
                  <h3>Profesionales Certificados</h3>
                  <p>Neque porro quisquam est, qui dolorem ipsum quira dolor sit amet, consectetur adipisci ui dolorem ipsum quira dolor sit amet, ui dolorem ipsum.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- We customer Support-->
    <section class="we-customer-support">
      <div class="work-image-ser"><img src="{% static 'images/support/ser-img-left.jpg' %}" alt=""></div>
      <div class="service-promo">
        <div class="service-t-content">
          <p>Cualquier tipo de solución de negocios y consulta no dude en ponerse en contacto con nosotros para obtener asistencia inmediata. Estamos aquí para ti.</p>
          <form action="#" method="POST">
               {% if 'ok' in request.GET %}
                          <script> alert("Tu mensaje fue enviado exitosamente. Pronto nos pondremos en contacto")</script>
                  {% endif %}
              {% csrf_token %}
            {{ form.as_p }}
            <input id="submit" type="submit" value="ENVIAR" class="btn btn2">
          </form>
        </div>
      </div>
    </section>
    <!-- Our Projects-->
    <section class="our-project sectpad">
      <div class="container clearfix">
        <div class="section_header common">
          <h2>Nuestros Proyectos</h2>
        </div>
        <div class="our-pro-slider">
          <div class="pro-sliders">
              {% for project in projects %}
                  {% if forloop.counter0 < 3 %}
                      <div class="item">
                        <div class="img-holder"><a href="{% url 'project_detail' project.pk project.title|slugify %}" ><span class="tt-gallery-1-overlay"></span>
                        <div class="project-post-image image_hover"><img src="{{ project.image.url }}" style="width: 370px; height: 279px;" alt="Oil Plant Project" class="zoom_img_effect"><span class="tt-gallery-1-caption"><span class="tt-gallery-1-caption-table"><span class="tt-gallery-1-caption-inner"><span class="tt-gallery-1-search"><i class="fa fa-search"></i></span></span></span></span></div></a></div>
                      </div>
                  {% endif %}
              {% endfor %}
          </div>
        </div>
      </div>
    </section>
    <!-- testimonial-->
    <section class="testimonial-wrapper testimonial-wrapper3">
      <div class="container clearfix">
        <div class="testimonial-sec">
          <div class="testimonial-slider">
              {% for testimonial in testimonials %}
                  <div class="item"><img src="{{ testimonial.image_person.url }}" alt="">
                    <p><span class="quote"><img src="{% static 'images/testimonial/quote.png'%}" alt=""></span>{{ testimonial.content }}
                    </p>
                </div>
              {% endfor %}
          </div>
        </div>
      </div>
    </section>
    <!-- Lattest news-->
    <div class="container clearfix sectpad-sec">


    </div>
    <section id="map-area">

      <div id="contact-google-map" data-map-lat="-0.250288" data-map-lng="-78.515859" data-icon-path="{% static 'images/map/map-marker.png' %}" data-map-title="Envato HQ" data-map-zoom="23" class="google-map"></div>
        <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d997.4450596113772!2d-78.51649947084793!3d-0.25033449998858487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d599a9237e4c13%3A0xd73f0fbdf63b9eb6!2sJ+Guti%C3%A9rrez%2C+Quito+170121!5e0!3m2!1ses-419!2sec!4v1548082753196" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>-->
    </section>
{% endblock %}