{% extends 'base.html' %}
{% block title %}Sobre nosotros{% endblock %}
{% load static %}
{% block content %}
    <section class="inner-banner2 clearfix">
      <div class="container clearfix">
        <h2>About us</h2>
      </div>
    </section>
    <section class="breadcumb-wrapper">
      <div class="container clearfix">
        <ul class="breadcumb">
          <li><a href="{% url 'home' %}">Inicio</a></li>
          <li><span>About Us</span></li>
        </ul>
      </div>
    </section>
    <section class="about-tab-box sectpad">
      <div class="container clearfix">
        <div class="row">
          <div class="col-sm-4 col-lg-3">
            <div class="tab-title-box">
              <ul role="tablist" class="clearfix">
                <li data-tab-name="history"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">Nuestra VISIÓN</a></li>
                <li data-tab-name="mission" class="active"><a href="#mission" aria-controls="mission" role="tab" data-toggle="tab">Nuestros VALORES</a></li>
                <li data-tab-name="vision"><a href="#vision" aria-controls="vision" role="tab" data-toggle="tab">Nuestra MISIÓN</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-8 col-lg-9">
            <div class="tab-content-box tab-content about-tab">
              <div id="history" class="single-tab-content tab-pane fade">
                <h2>Nuestra VISIÓN</h2>
                  {% for vision in visions %}
                      <p>{{ vision.description }}</p>


                <div class="row">
                  <div class="col-sm-12 abot-img"><img src="{{ vision.imagesVision.first }}" alt="" class="img-responsive" style="width: 370px; height: 178px"><img src="{{ vision.imagesVision.last }}" alt="" class="img-responsive"style="width: 370px; height: 178px"></div>
                  {% endfor %}
                </div>
              </div>
              <div id="mission" class="single-tab-content tab-pane fade in active">
                <h2>Nuestros VALORES</h2>
                  {% for value in values %}
                      {{ value.description }}
                      <div class="row">
                        <div class="col-sm-12 abot-img"><img src="{{ value.imagesValues.first }}" alt="" class="img-responsive"style="width: 370px; height: 178px"><img src="{{ value.imagesValues.last }}" alt="" class="img-responsive" style="width: 370px; height: 178px"></div>
                  {% endfor %}


                </div>
              </div>
              <div id="vision" class="single-tab-content tab-pane fade">
                <h2>Nuestra MISIÓN</h2>
                {% for mision in missions.all  %}
                    <p>{{ mision.description }}</p>
                <div class="row">
                    <div class="col-sm-12 abot-img"><img src="{{ mision.imagesMision.first }}" alt="" style="width: 370px; height: 178px" ><img src="{{ mision.imagesMision.last }}" alt="" style="width: 370px; height: 178px"></div>
                {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- features Section-->
    <div class="features-section">
      <div class="features-image"><img src="{% static 'images/features/1.jpg'%}" alt=""></div>
      <div class="features-area">
        <div class="features">
          <div class="features-content">
            <div class="media">
              <div class="media-left"><a href="#"><img src="{% static 'images/features/phone.png' %}" alt=""></a></div>
              <div class="media-body">
                <h4 class="media-heading">24/7 Atención</h4>
                <p>Lorem ipsum dolor sit amet, consectetur elit. Vestibulum nec odio ipsum. Suspe ndisse cursus malesuada facilisis.</p>
              </div>
            </div>
            <div class="media">
              <div class="media-left"><a href="#"><img src="{% static 'images/features/icon.png'%}" alt=""></a></div>
              <div class="media-body">
                <h4 class="media-heading">Sin precios ocultos</h4>
                <p>Lorem ipsum dolor sit amet, consectetur elit. Vestibulum nec odio ipsum. Suspe ndisse cursus malesuada facilisis.</p>
              </div>
            </div>
          </div>
          <div class="features-content">
            <div class="media">
              <div class="media-left"><a href="#"><img src="{% static 'images/features/icon2.png' %}" alt=""></a></div>
              <div class="media-body">
                <h4 class="media-heading">Maquinaria Certificada</h4>
                <p>Lorem ipsum dolor sit amet, consectetur elit. Vestibulum nec odio ipsum. Suspe ndisse cursus malesuada facilisis.</p>
              </div>
            </div>
            <div class="media">
              <div class="media-left"><a href="#"><img src="{% static 'images/features/hand.png' %}" alt=""></a></div>
              <div class="media-body">
                <h4 class="media-heading">Precios Favorables</h4>
                <p>Lorem ipsum dolor sit amet, consectetur elit. Vestibulum nec odio ipsum. Suspe ndisse cursus malesuada facilisis.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Team-->
    <section class="sectpad team-area">
      <div class="container clearfix">
        <div class="section_header color">
          <h2>Nuestro Equipo dedicado</h2>
        </div>
        <div class="row">
         <div class="our-team">
            {% for employed in personal %}

            <div class="col-sm-6 col-md-3 team">
              <div class="team-images row m0"><img src="{{ employed.image.url }}" alt=""></div>
              <ul class="nav social-icons">
                <li><a href="{{ employed.twitter_link }}"><i class="fa fa-twitter"></i></a></li>
                <li><a href="{{ employed.linkedin_link }}"><i class="fa fa-linkedin-square"></i></a></li>
                <li><a href="{{ employed.facebook_link }}"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="{{ employed.skype_link }}"><i class="fa fa-skype"></i></a></li>
              </ul>
              <div class="team-content"><a href="#">
                  <h4>{{ employed.name_personal }}</h4></a>
                <p>{{ employed.profession }}</p>
              </div>
            </div>

            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    <!-- testimonial-->
    <section class="sectpad testimonial-area">
      <div class="container clearfix">
        <div class="section_header">
          <h2>Lo que nuestros clientes dicen</h2>
        </div>
        <div class="testimonial-sliders">
            {% for testimonial in testimonials %}
                <div class="item">
            <div class="media testimonial">
              <div class="media-left"><a href="{{ testimonial.contact_url }}"><img src="{{ testimonial.image_person.url }}" alt=""></a></div>
              <div class="media-body">
                <p>{{ testimonial.content }},</p><a href="{{ testimonial.contact_url }}">-  {{ testimonial.name }}</a>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </section>
    <!-- Our Clients-->
    <section class="our-client sectpad">
      <div class="container clearfix">
        <div class="section_header">
          <h2>Nuestros Clientes</h2>
        </div>
        <div class="client-carousel">
          <div class="client-slider">
              {% for client in clients %}
                <div class="item"><a href="{{ client.website }}"><img src="{{ client.image.url }}" alt=""></a></div>
              {% endfor %}
          </div>
        </div>
      </div>
    </section>
{% endblock %}