{% extends 'base.html' %}
{% block title %}Nuestro Equipo{% endblock %}
{% load static %}
{% block content %}
    <section class="core-projects sectpad">
      <div class="container clearfix">
        <h1>Nuestros Expertos</h1>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
      </div>
    </section>
    <section class="team-pad team-area">
      <div class="container clearfix">
        <div class="our-team-page">
          <div class="row">
              {% for work in object_list %}
                <div class="col-sm-6 col-md-3 team">
              <div class="team-images row m0"><img src="{{ work.image.url }}" alt=""></div>
              <ul class="nav social-icons">
                <li><a href="{{ work.twitter_link }}"><i class="fa fa-twitter"></i></a></li>
                <li><a href="{{ work.linkedin_link }}"><i class="fa fa-linkedin-square"></i></a></li>
                <li><a href="{{ work.facebook_link }}"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="{{ work.skype_link }}"><i class="fa fa-skype"></i></a></li>
              </ul>
              <div class="team-content"><a href="#">
                  <h4>{{ work.name_personal }}</h4></a>
                <p>{{ work.profession }}</p>
              </div>
            </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}<!-- Single Service Page-->

    <!-- Team-->

    <!-- Indurial Solution-->
    <section class="indurial-t-solution indurial-solution indpad anim-5-all indurial-t-solution3">
      <div class="container clearfix">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="indurial-solution-text text-center">
              <h2>If  You Need Any Industrial Solution ... We Are Available For You</h2><span class="contactus-button2 text-center"><a href="../contact/contact.html" class="submit">Contact Us </a></span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Indurial Solution-->
    <footer class="sec-padding footer-bg footer-bg3">
      <div class="container clearfix">
        <div class="row">
          <div class="widget about-us-widget col-md-3 col-sm-6"><a href="#"><img src="images/header/f-logo2.png" alt=""></a>
            <p>Lorem ipsum dolor sit amet, consectet ur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali qua. Ut enim ad minim.</p><a href="../about.html">Read More <i class="fa fa-angle-double-right"></i></a>
            <ul class="nav">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-skype"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
            </ul>
          </div>
          <div class="widget widget-links col-md-3 col-sm-6">
            <h4 class="widget_title">Our Solutions</h4>
            <div class="widget-contact-list row m0">
              <ul>
                <li><a href="../meterial.html">- Metal Industry</a></li>
                <li><a href="../agricultural.html">- Agricultural Engineering</a></li>
                <li><a href="../mechanical.html">- Alternative Energy</a></li>
                <li><a href="../chemical.html">- chemical research</a></li>
                <li><a href="../power.html">- power and energy</a></li>
                <li><a href="../oil.html">- Oil and lubricant</a></li>
              </ul>
            </div>
          </div>
          <div class="widget widget-links col-md-3 col-sm-6">
            <h4 class="widget_title">Quick Links</h4>
            <div class="widget-contact-list row m0">
              <ul>
                <li><a href="../about.html">- About Us</a></li>
                <li><a href="#">- Career</a></li>
                <li><a href="#">- Get Quote</a></li>
                <li><a href="../news.html">- News</a></li>
                <li><a href="../faq.html">- Faq</a></li>
              </ul>
            </div>
          </div>
          <div class="widget widget-contact col-md-3 col-sm-6">
            <h4 class="widget_title">Get in Touch</h4>
            <div class="widget-contact-list row m0">
              <ul>
                <li><i class="fa fa-map-marker"></i>
                  <div class="fleft location_address">Lorance 542B, Tailstoi Town 5248 MT, Wordwide Country</div>
                </li>
                <li><i class="fa fa-phone"></i>
                  <div class="fleft contact_no"><a href="#">01865 524 8503</a></div>
                </li>
                <li><i class="fa fa-envelope-o"></i>
                  <div class="fleft contact_mail"><a href="mailto:info@woodworkshop.com">info@woodworkshop.com</a></div>
                </li>
                <li><i class="icon icon-Timer"></i>
                  <div class="fleft service_time">Mon - Sat : 9am to 6pm</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <section class="footer-t-bottom footer-bottom footer-bottom3">
      <div class="container clearfix">
        <div class="pull-left fo-txt">
          <p>Copyright © Industiral 2016.. All rights reserved.</p>
        </div>
        <div class="pull-right fo-txt">
          <p>Downloaded From: <a href="http://www.templatespoint.net">TemplatesPoint</a></p>
        </div>
      </div>
    </section>
    <script src="js/jquery-1.12.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Revolution Slider Tools-->
    <script src="vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Revolution Slider-->
    <script type="text/javascript" src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/contact.js"></script>
    <!-- owl carousel-->
    <script src="vendors/owlcarousel/owl.carousel.min.js"></script>
    <script src="vendors/jquery-ui-1.11.4/jquery-ui.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTI1BZJKFCeJ8g9O01CMZ4QvVCfdPYkrE"></script>
    <script src="js/gmaps.min.js"></script>
    <script src="js/theme.js"></script>
  </body>

</html>