{% extends 'base.html' %}
{% block title %}Testimonios{% endblock %}
{% load static %}
{% block content %}
    <section class="core-projects sectpad-t">
      <div class="container clearfix">
        <h1>Esto es lo que nustros clientes opinan</h1>
        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
      </div>
    </section>
    <section class="testimonial-parea">
      <div class="container clearfix">
        <div class="row">
            {% for testimonial in object_list %}
                <div class="col-lg-12 testimonial-col-p">
            <div class="media testimonial-p">
              <div class="media-left"><a href="{{ testimonial.contact_url }}"><img src="{{ testimonial.image_person.url }}" alt=""></a></div>
              <div class="media-body">
                <h3>{{ testimonial.corp_name }}</h3>
                <p>{{ testimonial.content }}</p><a href="#">- {{ testimonial.name }} {{ testimonial.business_position }}</a>
                <h6><span><img src="{% static 'images/testimonial/sign.jpg'%}" alt=""></span></h6>
              </div>
            </div>
          </div>
            {% endfor%}
        </div>
      </div>
    </section>
{% endblock %}
