{% extends 'base.html' %}
{% block title %}Contactate con nosotros{% endblock %}
{% load  static %}
{% block content %}
    <!-- Inner Header-->
    <section class="inner-banner2 clearfix">
      <div class="container clearfix">
        <h2>Contact Us</h2>
      </div>
    </section>
    <section class="breadcumb-wrapper">
      <div class="container clearfix">
        <ul class="breadcumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><span>Contactate con nosotros</span></li>
        </ul>
      </div>
    </section>
    <!-- Contact us Page-->
    <section class="core-projects touch">
      <div class="sectpad touch_bg">
        <div class="container clearfix">
          <h1>Mantente Conectado</h1>
          <p>Puedes hablar con nuestro representante en línea en cualquier momento. Utilice nuestro sistema de chat en vivo en nuestro sitio web o<br>Rellena a continuación los siguientes parametros</p>
          <h6>Por favor sea paciente, nos pondremos en contacto con usted. Nuestro soporte 24/7, <span>Consultas generales Teléfono: + 0987 654 321</span></h6>
          <div class="row touch_middle">
            <div class="col-md-4 open_hours">
              <div class="touch_top-con">
                <ul class="nav">
                  <li class="item">
                    <div class="media">
                      <div class="media-left"><a href="#"><i class="fa fa-map-marker"></i></a></div>
                      <div class="media-body">J. Guitierrez y Av. Gualberto Perez (Sector Chiriyaku)</div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="media">
                      <div class="media-left"><a href="#"><i class="fa fa-envelope-o"></i></a></div>
                      <div class="media-body"><a href="mailto:servind-ec@hotmail.com">servind-ec@hotmail.com</a></div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="media">
                      <div class="media-left"><a href="tel:+0996752048"><i class="fa fa-phone"></i></a></div>
                      <div class="media-body">+593 0996752048</div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8 input_form">
                {% if 'ok' in request.GET %}
                      <div id="success">
                        <p>Tu mensaje fue enviado exitosamente. Pronto nos pondremos en contacto</p>
                      </div>
                  {% endif %}
              <form id="contactForm" action="{% url 'home' %}" method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                <div class="row m0">
                  <button type="submit" class="btn btn-default submit">Enviar <i class="fa fa-angle-double-right"></i></button>
                </div>
              </form>

            </div>

          </div>
        </div>
      </div>
    </section>

{% endblock %}

