<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- reponsive meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap-->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- animate css-->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- owl-carousel-->
    <link rel="stylesheet" href="{% static 'vendors/owlcarousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/revolution/css/settings.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/revolution/css/layers.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/revolution/css/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jquery-ui-1.11.4/jquery-ui.min.css' %}">
    <!-- Main Css-->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <title>{% block title %} {% endblock %} | Servind - Servicios Industriales</title>
</head>
<body>
    <header id="header" class="header-3">
      <!-- Header Gray Band-->
      <section class="wel-t-band">
        <div class="container">
          <div class="row wel-band-bg">
            <div class="col-md-6 col-sm-12 pull-left">
              <p>Servind Servicios Industriales</p>
            </div>
            <div class="col-md-6 col-sm-12 pull-right text-right">

            </div>
          </div>
        </div>
      </section>
      <!-- Header Gray Band-->
      <!-- Logo Section-->
      <div class="container">
        <div class="row pad-logo logo-wrapper">
          <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12 t-logo"><a href="{% url 'home' %}"><img src="{% static 'images/header/servind-logo.png'%}" alt="logo" class="img-responsive"></a></div>
          <div class="col-lg-8 col-md-9 col-sm-12 col-xs-12 text-right">
            <div class="top-two-right">
              <div class="req-button text-right"><a href="{% url 'contact' %}" class="submit">Contactanos</a></div>
              <div class="top-panel">
                <div class="touch_top touch_top_pad">
                  <ul class="nav">
                    <li class="item item-phone">
                      <div class="media">
                        <div class="blue-color media-left"><a href="https://api.whatsapp.com/send?phone=593996752048"><i class="icon icon-Phone2"></i></a></div>
                        <div class="media-body">
                          <p>(+593)996752048<br><span><a href="mailto:servind-ec@hotmail.coms" style="font-size: 13px;">servind-ec@hotmail.com</a></span></p>
                        </div>
                      </div>
                    </li>
                    <li class="item item-ad">
                      <div class="media">
                        <div class="blue-color media-left"><a href="#"><i class="icon icon-Pointer"></i></a></div>
                        <div class="media-body">
                          <p>J. Guitierrez y Av. Gualberto Perez (Sector Chiriyaku)<br><span>Quito, Ecuador</span></p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Main Navigation-->
      <div class="main_menu menu_fixed nav-home-three">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
              <div class="logo"><img src="{% static 'images/logo-mobile.png'%}" alt=""></div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="nav-menu pull-left text-left">
                <div class="nav-t-holder pull-left text-left">
                  <div class="nav-t-header">
                    <button><i class="fa fa-bars"></i></button>
                  </div>
                  <div class="nav-t-footer">
                    <ul class="nav">
                      <li class="has-t-submenu {% if request.path == '/' %}active{% endif %}"><a href="{% url 'home' %}">Inicio</a>
                      </li>
                      <li class="has-t-submenu {% if request.path|slice:"10" == '/about_us/' %}active{% endif %}"><a href="{% url 'about' %}">Sobre Nosotros</a>
                        <ul class="submenu">
                          <li><a href="{% url 'equipo' %}">Nuestro Equipo</a></li>
                          <li><a href="{% url 'testimonial' %}">Testimonios</a></li>

                        </ul>
                      </li>
                      <li class="has-t-submenu {% if request.path|slice:":11" == '/solutions/' %}active{% endif %}"><a href="{% url 'solutions' %}">Servicios</a>
                        <ul class="submenu">
                            {% for solution in solutions %}
                          <li><a href="{% url 'solutions_detail' solution.pk solution.title|slugify %}">{{ solution.title }}</a></li>

                            {% endfor %}
                        </ul>
                      </li>
                      <li class="has-t-submenu"><a href="{% url 'projects' %}">Proyectos</a>
                      </li>
                      <li><a href="{% url 'contact' %}">Contactanos</a></li>
                    </ul>
                    <div class="mobile-link"><a href="{% url 'contact' %}" class="submit">Contactanos</a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- Main Navigation-->
    </header>
    <!-- =========home banner start============-->
   {% block content %}
    {% endblock %}
    <!-- Indurial Solution-->
    <section class="indurial-t-solution indurial-solution indpad anim-5-all indurial-t-solution3">
      <div class="container clearfix">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="indurial-solution-text text-center">
              <h2>Si necesitas algún servicio industrial... Nosotros estamos disponibles</h2><span class="contactus-button2 text-center"><a href="{% url 'contact' %}" class="submit">Contactanos </a></span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Indurial Solution-->
    <footer class="sec-padding footer-bg footer-bg3">
      <div class="container clearfix">
        <div class="row">
          <div class="widget about-us-widget col-md-3 col-sm-6"><a href="#"><img src="images/header/f-logo2.png" alt=""></a>
            <p>Lorem ipsum dolor sit amet, consectet ur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali qua. Ut enim ad minim.</p><a href="{% url 'about' %}">Saber más <i class="fa fa-angle-double-right"></i></a>
            <ul class="nav">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-skype"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
            </ul>
          </div>
          <div class="widget widget-links col-md-3 col-sm-6">
            <h4 class="widget_title">Nuestros Servicios</h4>
            <div class="widget-contact-list row m0">
              <ul>
                  {% for solution in solutions   %}
                    <li><a href="{% url 'solutions_detail' solution.pk solution.title|slugify %}">- {{ solution.title }}</a></li>
                  {% endfor %}
              </ul>
            </div>
          </div>
          <div class="widget widget-links col-md-3 col-sm-6">
            <h4 class="widget_title">Acceso Rápido</h4>
            <div class="widget-contact-list row m0">
              <ul>
                <li><a href="{% url 'about' %}">- Sobre Nosotros</a></li>
                <li><a href="{% url 'solutions' %}">- Servicios</a></li>
                <li><a href="{% url 'contact' %}">- Contactanos</a></li>
              </ul>
            </div>
          </div>
          <div class="widget widget-contact col-md-3 col-sm-6">
            <h4 class="widget_title">Get in Touch</h4>
            <div class="widget-contact-list row m0">
              <ul>
                <li><i class="fa fa-map-marker"></i>
                  <div class="fleft location_address">J. Guitierrez y Av. Gualberto Perez (Sector Chiriyaku)</div>
                </li>
                <li><i class="fa fa-phone"></i>
                  <div class="fleft contact_no"><a href="tel:+593996752048">0996752048</a></div>
                </li>
                <li><i class="fa fa-envelope-o"></i>
                  <div class="fleft contact_mail"><a href="mailto:servind-ec@hotmail.com">servind-ec@hotmail.com</a></div>
                </li>
                <li><i class="icon icon-Timer"></i>
                  <div class="fleft service_time">Lun - Sab : 9am a 6pm</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <section class="footer-t-bottom footer-bottom footer-bottom3">
      <div class="container clearfix">
        <div class="pull-left fo-txt">
          <p>Copyright © Servind - <a href="dannyrivadeneira.xyz">(Danny Rivadeneira)</a> - Todos los derechos reservados</p>
        </div>

      </div>
    </section>
    <script src="{% static 'js/jquery-1.12.2.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <!-- Revolution Slider Tools-->
    <script src="{% static 'vendors/revolution/js/jquery.themepunch.revolution.min.js'%}"></script>
    <!-- Revolution Slider-->
    <script type="text/javascript" src="{% static 'vendors/revolution/js/extensions/revolution.extension.slideanims.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'vendors/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js'%}"></script>
    <script src="{% static 'js/contact.js'%}"></script>
    <!-- owl carousel-->
    <script src="{% static 'vendors/owlcarousel/owl.carousel.min.js'%}"></script>
    <script src="{% static 'vendors/jquery-ui-1.11.4/jquery-ui.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTI1BZJKFCeJ8g9O01CMZ4QvVCfdPYkrE"></script>
    <script src="{% static 'js/gmaps.min.js'%}"></script>
    <script src="{% static 'js/imagelightbox.min.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
</body>
</html>