{% extends 'base.html' %}
{% block title %}{{ object.title }}{% endblock %}
{% load static %}
{% block content %}
     <section class="inner-banner2 clearfix">
      <div class="container clearfix">
        <h2>{{ object.title }}</h2>
      </div>
    </section>
    <section class="breadcumb-wrapper">
      <div class="container clearfix">
        <ul class="breadcumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="">Services</a></li>
          <li><span>{{ object.title }}</span></li>
        </ul>
      </div>
    </section>
    <section class="single-service-page sectpad">
      <div class="container clearfix">
        <div class="row">
          <div class="single-side-left">
            <div class="single-sidebar-widget">
              <div class="special-links">
                <ul>
                  <li><a href="meterial.html">meterial engineering</a></li>
                  <li class="active"><a href="solutions_detail.html">agricultural processing</a></li>
                  <li><a href="mechanical.html">Mechanical engineering</a></li>
                  <li><a href="chemical.html">chemical research</a></li>
                  <li><a href="power.html">power and energy</a></li>
                  <li><a href="oil.html">Oil and lubricant</a></li>
                  <li><a href="alternate.html">alternate energy</a></li>
                </ul>
              </div>
            </div>
            <div class="single-sidebar-widget">
              <div class="single-service-pdf">
                <h3><a href="#">Download Brochure</a></h3>
              </div>
            </div>
            <div class="single-sidebar-widget">
              <div class="single-service-contact">
                <h3>	Contact us for help?</h3>
                <p>Contact with us through our representative  or submit a business inquiry online.</p><a href="#">Contact Us<i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="content-right pull-right tab-content">
            <!-- meterial engineering-->
            <div id="meterial" class="tab-pane fade in active"><img src="{{ object.image.url }}" alt="">
              <div class="sec-title">
                <h2><span>{{ object.title }}</span></h2>
                  <p>{{ object.description }} </p>
              </div>
                {% for solution in object.secondSolution.all %}
                     <div class="image-caption-box">
                <div class="caption-box-img pad46"><img src="{{ solution.image.url }}" alt="Awesome Image"></div>
                <div class="text-box">
                  <h2>{{ solution.title }} </h2>
                  <p>{{ solution.description }}</p>
                </div>
                     </div>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
