{% extends 'base.html' %}
{% block title %}Soluciones Industriales{% endblock %}
{% load static %}
{% block content %}
    <section class="inner-banner2 clearfix">
      <div class="container clearfix">
        <h2>Services</h2>
      </div>
    </section>
    <section class="breadcumb-wrapper">
      <div class="container clearfix">
        <ul class="breadcumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><span>Services</span></li>
        </ul>
      </div>
    </section>
    <!-- About us Content Tab Sec-->
    <section class="service-tab-box sectpad">
      <div class="container clearfix">
        <div class="row">
          <div class="col-lg-7 col-md-7 col-xs-12 left=ser">
            <h1>EXPERIENCIA EN BRINDAR SOLUCIONES INDUSTRIALES</h1>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,</p>
            <h6>sed quia non numquam eius modi tempora incidunt ut</h6>
            <p>aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
            <ul class="c-brochure">
              <li><a href="#" class="clearfix"><i class="fa fa-download"></i><span>Download Company Brochure</span></a></li>
            </ul>
          </div>
          <div class="col-lg-5 col-md-5 col-xs-12 right-ser">
            <div class="img-s-box">
              <div class="img-st-box"><img src="{% static 'images/services/ser-p-img2.jpg' %}" alt=""></div>
              <div class="img-so-box"><img src="{% static 'images/services/ser-p-img1.jpg' %}" alt=""></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Our Services-->
    <section class="our-services sectpad-ser">
      <div class="container clearfix">
        <div class="section_header color">
          <h2>Nuestros Servicios</h2>
        </div>
        <div class="row">
            {% for solution in object_list %}
          <div class="col-sm-4 service-info">
                  <div class="item">
              <div class="post-image"><img src="{{ solution.image.url }}" alt=""><a href="{% url 'solutions_detail' solution.pk solution.title|slugify %}" class="four_arrow_hover_box"><span class="arrows"><span></span></span></a></div><a href="{% url 'solutions_detail' solution.pk solution.title|slugify %}">
                <h4>{{ solution.title }}</h4></a>
              <p>{{ solution.description|slice:":150" }}...</p>
              <h6><a href="{% url 'solutions_detail' solution.pk  solution.title|slugify %}">Read more</a></h6>
            </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </section>
    <!-- Our Clients-->
    <section class="our-client sectpad">
      <div class="container clearfix">
        <div class="section_header">
          <h2>Nuestros Clientes</h2>
        </div>
        <div class="client-carousel">
          <div class="client-slider">
              {% for client in clients %}
                <div class="item"><a href="{{ client.website }}"><img src="{{ client.image.url }}" alt=""></a></div>
              {% endfor %}
          </div>
        </div>
      </div>
    </section>
{% endblock %}